<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEOyI5hyYTnFJ6RSjdoycJITbmT4aNqnw</string>
	<key>GCM_SENDER_ID</key>
	<string>964858635148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaChatApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-chat-app-dc580</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-chat-app-dc580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964858635148:ios:995607d02233f3fc682ca9</string>
</dict>
</plist>